body {
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.me-img {
  width: 275px;
  height: auto;
}

.header {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.about-me {
  display: inline-flex;
}

.about-me-contents {
  margin: 4vw;

}

.projects{
  text-align: center;
  border-top: black 0.25rem solid;
  padding-bottom: 3vh;
}

.projects-container{
  margin-top: "3rem";
  justify-content: center;
}

.skills{
  text-align: center;
  border-top: black 0.25rem solid;
}