body {
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.me-img {
  width: 275px;
  height: auto;
}

.page-header {
  text-align: center;
  padding-top: 3vh;
  /* padding-bottom: 3vh; */
  /* background-color: #09814A;
  color: white; */
}

.page-header h1 {
  color: #2D4739;
  font-size: 4rem;
}

.page-header h3 {
  color: #2D4739;
  /* font-size: 4rem; */
}

.about-me {
  padding: 3vh 5vw 3vh 5vw;
  background-color: #2D4739;
  color: white
}

.about-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.about-me-contents-container {
  margin: 2vw;
  font-size: 1.5rem;
  height: 100;
  display: table;
  width: 60vw;
}

.about-me-contents {
  display: table-cell;
  vertical-align: middle;
}
.projects{
  text-align: center;
  padding: 3vh 5vw 3vh 5vw;
  color: #2D4739;
  /* background-color: #09814A; */
}

.projects-container{
  margin-top: "3rem";
  justify-content: center;
}

.skills{
  text-align: center;
  padding: 3vh 5vw 3vh 5vw;
  color: white;
  background-color: #2D4739;
}

.nav-items {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #121619;
  padding: 0.5rem;
  }

.nav-items p {
  padding:  0 2vw 0 2vw;
}

.link-text{
  color: white;
}

.link-text:hover {
  color: #c3dac3;
}